<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="formulario-padre">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `formulario-padre`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormularioPadre extends Polymer.Element {
      static get is() { return 'formulario-padre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'formulario-padre'
          }
        };
      }
    }

    window.customElements.define(FormularioPadre.is, FormularioPadre);
  </script>
</dom-module>
