<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../checklist-element/checklist-element.html">
<link rel="import" href="../confirmation-template/confirmation-template.html">

<dom-module id="formulario-padre">
  <template>
    <style>
      :host {
        display: block;
      }
      .formInfo{
        border: 1px solid black;
      }
      
      .formHeader{
        border: 1px solid red;
        padding: 12px;
        margin: 5px;
      }
      
      .formSection{
        border: 1px solid green;
        margin: 5px;
        padding: 12px;
      }
    </style>
    
    <div class="formInfo">
        <paper-tabs selected="0" scrollable>
            <paper-tab>Tab 0</paper-tab>
            <paper-tab>Tab 1</paper-tab>
            <paper-tab>Tab 2</paper-tab>
            <paper-tab>Tab 3</paper-tab>
          </paper-tabs>
      <section class="formSection">
      <checklist-element></checklist-element>
      <confirmation-template></confirmation-template>
    </section>
    </div>
  </template>

  <script>
    /**
     * `formulario-padre`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormularioPadre extends Polymer.Element {
      static get is() { return 'formulario-padre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'formulario-padre'
          }
        };
      }
    }

    window.customElements.define(FormularioPadre.is, FormularioPadre);
  </script>
</dom-module>
